<?xml version="1.0" encoding="utf-8"?>
<manifest package="id.jeruk.ok_safe"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.VerificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.AddReportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.RewardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.HelpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.AboutDeveloperActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAS_DIqp_3o0c_ki3BztGZl3TcZ556H4gA"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="id.jeruk.ok_safe.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>

</manifest>